# URL base da aplicação (Ex: http://localhost:3000 ou a URL do Railway)
LOCAL_URL=

# URL da API do Strapi (Ex: http://localhost:1337)
LOCAL_STRAPI_API=

# Ambiente da aplicação (DEVELOPMENT ou PRODUCTION)
AMBIENTE=DEVELOPMENT
